{%extends 'base.html'%}

{%block content%}
<div class="container-fluid body">
    <div class="text-center" style="padding-top:9%;">
        <h1>Welcome to my Gallery</h1>
        <p>“Great photography is about depth of feeling, not depth of field.”</p>
    </div>

</div>

<div class="container-fluid bg-light" style="padding-bottom:10%">
        <h1 class="text-center" style="font-family: 'Creepster', cursive;">My Photos</h1>

    <!-- Looping through news   -->
    <div class="row">
        
        {% for image in images %}

        <!-- displaying News articles -->
        <div class="col-sm-4 card" style="box-shadow: 10px 10px #DD0043;margin:2%;padding-top:1%;">
            <img src="{{image.your_image.url}}" class="img-responsive" alt="Image" style="height:300px;width:100%;">
            <h5 class="text-center"> {{ image.image_description }} </h5>
        </div>

        {% empty %}
        <h3 class="text-center">There No News Items</h3>
        {% endfor %}
    </div>

</div>

{%endblock%}