{%extends 'base.html'%}

{%block content%}
<div class="container-fluid body">
    <div class="text-center" style="padding-top:9%;">
        <h1>Welcome to my Gallery</h1>
        <p>“Great photography is about depth of feeling, not depth of field.”</p>
    </div>

</div>

<div class="container-fluid bg-light" style="padding-bottom:10%">
    <h1 class="text-center" style="font-family: 'Creepster', cursive;">My Photos</h1>

    <!-- Looping through news   -->
    <!-- <div class="container"> -->
    <div class="row">

        {% for image in images %}
        {% with go=image.allinfo %}

        <!-- displaying News articles -->
        <div class="col-xs-6 col-sm-6 col-md-4 card" style="padding-top:1%;margin-top:1%;">
            <img src="{{image.your_image.url}}" class="img-responsive" alt="Image" style="height:300px;width:100%;"
                type="button" class="btn btn-sm btn-outline-primary" id="image{{image.id}}" data-whatever="{{image.id}}"
                data-toggle="modal" data-target="#{{image.id}}">
            <h5 class="text-center"> {{ image.image_description }} </h5>
        </div>
        {%endwith%}
        {% empty %}
        <h3 class="text-center">There No News Items</h3>
        {% endfor %}
    </div>
    {%for location in locations%}
    <a href="/location/{{location.location_name}}">{{location.location_name}}</a>
    {%endfor%}
</div>

{% for image in images %}

<div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>{{image.id}}</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{%endfor%}


{%endblock%}