{%extends 'base.html'%} 
{% block content %}
<div class="container bg-light"> <br>

  <div class="row">
    {% if pics%}
      <h3>Found {{ pics|length }} of searched term {{message}}</h3> <hr>
    {% else %}
      <h3> Found 0 photos for the search term {{message}}</h3> <hr>
    {% endif %}

  </div>

  <div class="row">

  {% if pics %}
    {% for pic in pics %}
      <div class="col-sm-6 col-md-3">
          <h3>{{pic.image_name}}</h3>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}